In [1]:
import pandas as pd    
import numpy as np

In [2]:
train = pd.read_csv("./data/train_set.csv")
test = pd.read_csv("./data/test_set.csv")

In [3]:
# Data set exploration

In [4]:
### Format of the data
train.head()

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1

In [5]:
### Duplicates in the data (in regards to text)
train.text.duplicated().sum()

110

In [6]:
### Check class imbalance
train.target.value_counts()

0    4342
1    3271
Name: target, dtype: int64

In [7]:
### NULL data
train.isnull().sum()

id             0
keyword       61
location    2533
text           0
target         0
dtype: int64